body{
    background-image: url(background.jpg);
    color: white !important;
    font-family: 'Roboto', sans-serif;
}
ul{
    display: flex;
    float: right;
    list-style: none;
}
ul li{
    margin-right: 28px;
}
.info{
    height: 470px;
    width: 250px;
    background: gray;
    border: 2px solid;
    border-color: bisque;
    border-radius: 10px;
    margin: 70px 0 0 20px

}
.pic{
    width: 200px;
    height: 250px;
    padding-left: 25px;
}
.title{
    padding-left: 5px;
}
.title2{
    display: flex;
    float: left;
    margin: -45px 0 0 90px ;
}
.title3{
    display: flex;
    float: left;
    margin: -30px 0 0 90px;
}
.text{
    text-align: center;
    margin: -400px 0 0 0;
}
.txt{
    font-size: 25px;
}
.email{
    padding-left: 25px;
}
.foot{
    padding-left: 18px;
}
.clicks{
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: red;
    color: white;
    border-color: none !important;
    border-radius: 30px;
}
.service{
    text-align: center;
}
.display1{
    display: flex;
    float: right;
    margin: -0 500px 0 0;
}
.text22{

}